.page-wrapper {
    padding: 20px;
  
    h1 {
      color: #004a8d;
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  
    .orange-line {
      height: 4px;
      width: 100%;
      background-color: #f38f1f;
      margin-bottom: 20px;
    }
  
    .form-card {
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: white;
      margin-bottom: 20px;
  
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        mat-form-field {
          width: 100%;
          max-width: 500px;
        }
  
        .orange-button {
          background-color: #f38f1f;
          color: white;
          margin-top: 20px;
        }
  
        mat-checkbox {
          margin-top: 20px;
        }
  
        .button-group {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
  
          button {
            background-color: #f38f1f;
            color: white;
          }
        }
      }
    }
  }
  