<div class="page-wrapper">
  <h1>Demander un Devis</h1>
  <p>Choisissez le type d'assurance pour lequel vous souhaitez un devis.</p>

  <div class="cards-container">
    <!-- Card 1: Assurance scolaire -->
    <mat-card class="card" routerLink="/user/mesdevis/assurance-scolaire">
      <mat-icon>school</mat-icon>
      <h3>Assurance scolaire</h3>
    </mat-card>

    <!-- Card 2: Assurance voyage -->
    <mat-card class="card" routerLink="/user/mesdevis/assurance-voyage">
      <mat-icon>flight</mat-icon>
      <h3>Assurance voyage</h3>
    </mat-card>

    <!-- Card 3: Habitation -->
    <mat-card class="card" routerLink="/user/mesdevis/assurance-habitation">
      <mat-icon>home</mat-icon>
      <h3>Habitation</h3>
    </mat-card>

    <!-- Card 4: Contre les accidents -->
    <mat-card class="card" routerLink="/user/mesdevis/assurance-accidents">
      <mat-icon>warning</mat-icon>
      <h3>Contre les accidents</h3>
    </mat-card>

    <!-- Card 5: Sacre capitalisation -->
    <mat-card class="card" routerLink="/user/mesdevis/assurance-capitalisation">
      <mat-icon>savings</mat-icon>
      <h3>Sacre capitalisation</h3>
    </mat-card>

    <!-- Card 6: Sacre Prévoyance -->
    <mat-card class="card" routerLink="/user/mesdevis/assurance-prevoyance">
      <mat-icon>health_and_safety</mat-icon>
      <h3>Sacre Prévoyance</h3>
    </mat-card>

    <!-- Card 7: Assurance santé internationale CHAMEL -->
    <mat-card class="card" routerLink="/user/mesdevis/assurance-sante-internationale">
      <mat-icon>public</mat-icon>
      <h3>Assurance santé internationale CHAMEL</h3>
    </mat-card>
  </div>
</div>