<div mat-subheader *ngIf="item.navCap" class="nav-caption">
  {{ item.navCap }}
</div>

<!-- Parent Item with Children -->
<mat-list-item
  *ngIf="item.children && item.children.length"
  (click)="onItemSelected(item)"
  [ngClass]="{
    'activeMenu': isParentActive || (item.route ? router.isActive(item.route, true) : false)
  }"
  class="menu-list-item"
>
  <i-tabler class="routeIcon" name="{{ item.iconName }}" matListItemIcon></i-tabler>
  <span class="hide-menu">{{ item.displayName }}</span>
  <!-- Only show toggle arrow if the item has children -->
  <mat-icon *ngIf="item.children && item.children.length" class="menu-arrow">
    {{ item.expanded ? 'expand_less' : 'expand_more' }}
  </mat-icon>
</mat-list-item>

<!-- Child Items -->
<div *ngIf="item.expanded && item.children && item.children.length" class="child-menu">
  <app1-nav-item
    *ngFor="let child of item.children"
    [item]="child"
    [depth]="depth + 1"
  ></app1-nav-item>
</div>

<!-- Single Item (No Children) -->
<a
  mat-list-item
  *ngIf="!item.children || !item.children.length"
  (click)="onItemSelected(item)"
  [ngClass]="{
    'activeMenu': item.route
      ? router.isActive(item.route, true)
      : false
  }"
  class="menu-list-item"
>
  <i-tabler class="routeIcon" name="{{ item.iconName }}" matListItemIcon></i-tabler>
  <span class="hide-menu">{{ item.displayName }}</span>
</a>