
<div class="paiements-controls">
  <button mat-raised-button color="primary" (click)="togglePaiementsEnLigne()">
    Paiements en ligne
  </button>
  <button mat-raised-button color="primary" (click)="togglePaiementsSurPlace()">
    Paiements sur place
  </button>
</div>


<div class="filtres-container">
  <form (ngSubmit)="appliquerFiltres()" class="filtres-form">
    <input type="number" [(ngModel)]="filtres.montantMin" name="montantMin" placeholder="Montant min">
    <input type="date" [(ngModel)]="filtres.date" name="date" placeholder="Date">
    <input type="text" [(ngModel)]="filtres.agence" name="agence" placeholder="Agence">
    <button mat-raised-button type="submit" color="primary">⤵️</button>
    <button mat-raised-button type="button" color="warn" (click)="reinitialiserFiltres()">🔄</button>
  </form>
</div>


<div *ngIf="paiementsEnLigneVisible" class="paiements-container">
  <h2>Paiements en ligne</h2>
  <div class="paiement-card" *ngFor="let paiement of paiementsEnLigneFiltres">
    <div class="paiement-info">
      <p><strong>Montant :</strong> {{ primeTotale }} €</p>
      <p><strong>Date :</strong> {{ paiement.date_paiement | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Carte :</strong>  {{ paiement.paymentMethodNonce}}</p>
        </div>
    <button mat-raised-button color="warn" (click)="deletePaiement(paiement.id_p)">
      Supprimer
    </button>
  </div>
</div>


<div *ngIf="paiementsSurPlaceVisible" class="paiements-container">
  <h2>Paiements sur place</h2>
  <div class="paiement-card" *ngFor="let paiement of paiementsSurPlaceFiltres">
    <div class="paiement-info">
      <p><strong>Montant :</strong> {{ primeTotale }} €</p>
      <p><strong>Date :</strong> {{ paiement.date_paiement | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Agence :</strong> {{ paiement.agence }}</p>
      <p><strong>RDV :</strong> {{ paiement.date_rdv | date: 'dd/MM/yyyy' }}</p>
    </div>
    <button mat-raised-button color="warn" (click)="deletePaiement(paiement.id_p)">
      Supprimer
    </button>
  </div>
</div>
